.up {
  background-color: green;
}

.down {
  background-color: red;
}

.status-box {
  height: 320px;
}

.gif-box {
  width: 31%;
  margin: 24px auto 0 auto;
}

.fixer-box {
  margin-left: -16px;
}