<mat-card>
  <div class="status-box" [class.up]="adminService.isUp" [class.down]="!adminService.isUp"></div>

  <button mat-button *ngIf="!adminService.isUp" (click)="adminService.isUp = true">Build is no longer down</button>
  <button mat-button *ngIf="adminService.isUp" (click)="adminService.isUp = false">Build is down</button>
  
  <div class="status"></div>
  
  <div *ngIf="!adminService.isUp">
    <mat-list role="list" *ngIf="!adminService.isUp">
      <h3 mat-subheader>Looking into the issue:</h3>
      <mat-list-item role="listitem" *ngFor="let name of adminService.fixers">{{ name }}</mat-list-item>
    </mat-list>
  </div>
</mat-card>