<mat-card>
  <div class="status-box" [class.up]="adminService.isUp" [class.down]="!adminService.isUp"></div>
  <div *ngIf="!adminService.isUp" style="width:100%;height:0;padding-bottom:56%;position:relative;">
    <iframe [src]="src | safe" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
  
  <div *ngIf="!adminService.isUp">
    <mat-list role="list" *ngIf="!adminService.isUp">
      <h3 mat-subheader>Looking into the issue:</h3>
      <mat-list-item role="listitem" *ngFor="let name of adminService.fixers">{{ name }}</mat-list-item>
    </mat-list>
  </div>
</mat-card>