<mat-toolbar>
  <span class="title">{{ title }}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="white">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/admin">
      <mat-icon>face</mat-icon>
      <span>Admin</span>
    </button>
    <button mat-menu-item routerLink="/status" [class.up]="adminService.isUp"
            [class.down]="!adminService.isUp" class="status-option">
      <mat-icon *ngIf="adminService.isUp">thumb_up</mat-icon>
      <mat-icon *ngIf="!adminService.isUp">thumb_down</mat-icon>
      <span>Status</span>
    </button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>