.up {
  background-color: green;
}

.down {
  background-color: red;
}

.status-box {
  height: 100px;
}

.change-status-buttons {
  margin-top: 15px;
}

.fixer-box {
  margin-top: 15px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}