.up {
  background-color: green;
}

.down {
  background-color: red;
}

.status-box {
  height: 100px;
}

.fixer-box {
  margin-top: 24px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.util-left-margin {
  margin-left: -16px;
}